*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: #22254B; */
  background: #edeef0;
  justify-content: center;
}

.title {
  /* color: aliceblue; */
  color: #22254B;
  font-size: 5vw;
}

.container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  max-width: 85vw;
  padding: 16px;
  background: #FFF;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px grey;
}

.img {
  height: auto;
  max-width: 100%;
  border-radius: 15px;
}

.btn {
  cursor: pointer;
  width: 25vw;
  height: 8vh;
  box-shadow: 5px 5px 15px grey;
  border: 0px;
  border-radius: 10px;
  transition: .4s;
  font-size: 3vw;
}

.btn:hover {
  background: #FFF;
}

